server:
  port: 8083

spring:
  application:
    name: rabbit-service
  rabbitmq:
    host: 172.16.25.134
    port: 15672
    username: guest
    password: guest
    virtual-host: /
  thymeleaf:
    # 开发阶段，关闭thymeleaf的缓存
    cache: false
    # 去掉对html标签的校验
    mode:  LEGACYHTML5
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/tribune?serverTimezone=GMT%2B8&useSSL=true
    username: root
    password: 123456
#Spring整合Mybatis
mybatis:
  #定义别名包
  type-aliases-package: com.xj.tribune.vo
  #导入映射文件(指定映射文件的路径)
  mapper-locations: classpath:/mapper/*.xml
  #开启驼峰映射
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  #打印日志
  logging:
    level:
      com.xj.tribune.mapper: debug