<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">

</head>
<body>
    <!-- 类用于固定宽度，两侧留白并支持响应式布局,布局容器 -->
    <div class="container">
        <!-- 行元素 -->
        <div class="row">
            <!-- 列元素 -->
            <div class="col-md-2" style="background-color: deeppink">首页</div>
            <div class="col-md-2" style="background-color: darkblue">论坛</div>
            <div class="col-md-2" style="background-color: #e3e3e3">关于我们</div>
        </div>
    </div>
</body>
</html>